/*Reset de CSS e a medida da caixa*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.5);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(255, 255, 255, 0.5);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body * {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

body {
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; 
    background: color image repeat position/size;
    background: coim() repos
    */
    background: var(--bg-url) no-repeat top center/cover;
}


/*Caixa com propiedades de w e h fixas 
eu uso o ,margin para centralizar*/

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#switch {
    width: 64px;
    position: relative;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    background: white var(--switch-bg-url)no-repeat center;
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    border-radius: 9999px;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    -webkit-backdrop-filter: blur(4px);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background .2s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1px solid white;
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 40px;
}

#social-links a:hover {
    background: var(--highlight-color);
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background .2s;
}

footer {
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}


/* 
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

#footer p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
} */


/* Minha resolução

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 16px;
    align-items: flex-start;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.2s;
    
}

#social-links ion-icon {
    display: flex;
    width: 40px;
    height: 40px;
}

#social-links ion-icon:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(199, 193, 193);
    border-radius: 8px;
}
 */


/*Analisar o figma e criar a caixa principal
<div> é uma caixa genérica id = identificador*/


/* #profile img {
    display: block;
    width: 112px;
    margin: auto;
} */